In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import pickle as pkl

In [2]:
path = r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis'

In [3]:
#Importing PKL file
orders_products_combined = pd.read_pickle(r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/02 Data/Prepared Data/orders_products_combined.pkl')

In [4]:
orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [5]:
#Checking shape
orders_products_combined.shape

(32434489, 12)

Confirmed shape is same.

In [6]:
#Importing prodcuts_checked.csv
df_prods = pd.read_csv(r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/02 Data/Prepared Data/products_checked.csv')

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
#Confirming Shape of df_prods
df_prods.shape

(49672, 6)

In [9]:
#Merging products_checked.csv with orders_products_combined.pkl - Changed 'True' to 'Exists' since '_merge' already exists in orders_products_combined
all_data_merged = orders_products_combined.merge(df_prods, on = 'product_id', indicator = 'exists')

In [10]:
all_data_merged.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

In [11]:
#Confirming Results of Merge
all_data_merged['exists'].value_counts()

both          32404859
right_only           0
left_only            0
Name: exists, dtype: int64

In [12]:
#Confirming Shape of New Dataframe
all_data_merged.shape

(32404859, 18)

In [13]:
# Export data to pkl

all_data_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'all_data_merged.pkl'))