In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
ords_prods_merge = pd.read_pickle(r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/02 Data/Prepared Data/all_data_merged_added_col.pkl')

In [3]:
ords_prods_merge.shape

(32404859, 21)

In [5]:
ords_prods_merge.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
2,2,473747,1,prior,3,3,12,21.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders
4,4,431534,1,prior,5,4,15,28.0,196,1,...,both,195,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders

In [7]:
ords_prods_merge.groupby('department_id')['orders_day_of_week'].mean()

department_id
1     2.790508
2     2.851368
3     2.743055
4     2.683672
5     3.163153
6     2.691937
7     2.807199
8     2.934893
9     2.690505
10    2.759061
11    2.816660
12    2.718082
13    2.810497
14    2.731141
15    2.707202
16    2.739654
17    2.835449
18    2.711004
19    2.751490
20    2.705505
21    2.800853
Name: orders_day_of_week, dtype: float64

In this Exercise, you learned how to find the aggregated mean of the “orders_day_of_the_week” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.
Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

In the practice exercise, we actually found the aggregated mean of the "order_number" column, so this question does not apply.  Below, I will find the aggregated mean of the "order_number" column so that I can compare to the subset created in the practice exercise.

In [8]:
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

In the subset, the numbers were a bit smaller but seem pretty similar to the numbers in the entire dataframe.

In [10]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
ords_prods_merge.head(100)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,product_name,aisle_id,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5895,3226575,360,prior,1,5,12,NaN,196,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,3,New customer
96,6137,1469869,377,prior,3,5,17,3.0,196,9,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most Orders,3,New customer
97,6259,1927023,387,prior,2,4,10,22.0,196,3,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer
98,6740,858092,420,prior,4,1,19,30.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most Orders,22,Regular customer
99,6741,119314,420,prior,5,3,19,16.0,196,2,...,Soda,77,7,9.0,both,Mid-range product,Busiest days,Most Orders,22,Regular customer

In [16]:
ords_prods_merge.groupby('loyalty_flag')['prices'].mean()

loyalty_flag
Loyal customer      10.386336
New customer        13.294670
Regular customer    12.495717
Name: prices, dtype: float64

Based on the above information, New customers spend more on average than Regular or Loyal customers. Loyal customers spend the lowest of all of the loyalty flags.

In [17]:
ords_prods_merge['max_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

In [22]:
ords_prods_merge.loc[ords_prods_merge['max_price'] < 10, 'spending_flag'] = 'Low Spender'

In [23]:
ords_prods_merge.loc[ords_prods_merge['max_price'] > 10, 'spending_flag'] = 'High Spender'

In [24]:
ords_prods_merge.head(100)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,department_id,prices,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender
2,2,473747,1,prior,3,3,12,21.0,196,1,...,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender
4,4,431534,1,prior,5,4,15,28.0,196,1,...,7,9.0,both,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5895,3226575,360,prior,1,5,12,NaN,196,1,...,7,9.0,both,Mid-range product,Busiest days,Least Orders,3,New customer,14.6,High Spender
96,6137,1469869,377,prior,3,5,17,3.0,196,9,...,7,9.0,both,Mid-range product,Busiest days,Most Orders,3,New customer,21.6,High Spender
97,6259,1927023,387,prior,2,4,10,22.0,196,3,...,7,9.0,both,Mid-range product,Busiest days,Least Orders,8,New customer,14.6,High Spender
98,6740,858092,420,prior,4,1,19,30.0,196,2,...,7,9.0,both,Mid-range product,Busiest days,Most Orders,22,Regular customer,14.9,High Spender
99,6741,119314,420,prior,5,3,19,16.0,196,2,...,7,9.0,both,Mid-range product,Busiest days,Most Orders,22,Regular customer,14.9,High Spender

In [26]:
ords_prods_merge['med_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [27]:
ords_prods_merge.loc[ords_prods_merge['med_frequency'] > 20, 'order_freq_flag'] = 'Non-frequent Customer'

In [30]:
ords_prods_merge.loc[(ords_prods_merge['med_frequency'] <= 20) & (ords_prods_merge['med_frequency'] > 10), 'order_freq_flag'] = 'Regular customer'

In [31]:
ords_prods_merge.loc[ords_prods_merge['med_frequency'] <= 10, 'order_freq_flag'] = 'Frequent Customer'

In [32]:
ords_prods_merge.head(100)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_price,spending_flag,max_frequency,med_frequency,order_freq_flag
0,0,2539329,1,prior,1,2,8,NaN,196,1,...,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender,30.0,20.5,Non-frequent Customer
1,1,2398795,1,prior,2,3,7,15.0,196,1,...,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender,30.0,20.5,Non-frequent Customer
2,2,473747,1,prior,3,3,12,21.0,196,1,...,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender,30.0,20.5,Non-frequent Customer
3,3,2254736,1,prior,4,4,7,29.0,196,1,...,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender,30.0,20.5,Non-frequent Customer
4,4,431534,1,prior,5,4,15,28.0,196,1,...,Mid-range product,Busiest days,Least Orders,10,New customer,14.0,High Spender,30.0,20.5,Non-frequent Customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5895,3226575,360,prior,1,5,12,NaN,196,1,...,Mid-range product,Busiest days,Least Orders,3,New customer,14.6,High Spender,6.0,4.0,Frequent Customer
96,6137,1469869,377,prior,3,5,17,3.0,196,9,...,Mid-range product,Busiest days,Most Orders,3,New customer,21.6,High Spender,30.0,16.5,Regular customer
97,6259,1927023,387,prior,2,4,10,22.0,196,3,...,Mid-range product,Busiest days,Least Orders,8,New customer,14.6,High Spender,22.0,8.0,Frequent Customer
98,6740,858092,420,prior,4,1,19,30.0,196,2,...,Mid-range product,Busiest days,Most Orders,22,Regular customer,14.9,High Spender,30.0,7.0,Frequent Customer
99,6741,119314,420,prior,5,3,19,16.0,196,2,...,Mid-range product,Busiest days,Most Orders,22,Regular customer,14.9,High Spender,30.0,7.0,Frequent Customer

In [34]:
path = (r'/Users/brittanyfreese/Documents/Career Foundry/11-2020 Instacart Basket Analysis/')

In [38]:
# Export data to pkl

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'all_data_merged_aggregated.pkl'))